<link rel="stylesheet"   type="text/css" href="/css/signin_signup.css">
<section>


<div class="border">

<form action="/customers/create-session"  method="POST">
<h1>WELCOME </h1>
<h1> Sign in as a customer and enjoy new food.....</h1>
<label>Give your email</label><br>
    
    <input type="email" name="email" placeholder=" email" required><br>
    <label>Your password..</label><br>
    <input type="password" name="password"  placeholder="password" required><br>
     
    <input type="submit" value="sign in">

</form>
</div>
</section>