<link rel="stylesheet"   type="text/css" href="/css/signin_signup.css">
<section>
<div class="border">
<form action="/customers/create"  method="POST">
<h1> Register and enjoy </h1>
     <label>Give your name</label><br>
    <input type="text" name="name" placeholder="your name" required><br>
    <label>Give your email</label><br>
    <input type="email" name="email" placeholder="your email" required><br>

 <label>Give your Address</label><br>
    <input type="text" name="address" placeholder="ADDRESS" required><br>

 <label>MOBILE .NO</label><br>
    <input type="text" name="phone" placeholder="MObile no." required><br>




    <label>Prefrences</label><br>
    <input type="radio" name="preference" value="VEG"> VEG <br>

    <input type="radio" name="preference" value="NON-VEG">NON-VEG <br>
     <input type="radio" name="preference" value="BOTH"> BOTH<br>
     <label>Your Password</label><br>
    <input type="password" name="password"  placeholder="password" required><br>
    <label>Confirm your password</label><br>
    <input type="password" name="confirm_password" placeholder="confirm password" required><br>
    <input type="submit" value="sign up">

</form>
</div>
</section>