<link rel="stylesheet"   type="text/css" href="/css/signin_signup.css">
<section>
<h1> Signing in as a Restaurant..........</h1>



<form action="/users/create-session"  method="POST">
    <label> Give your email :</label><br>
    <input type="email" name="email" placeholder=" email" required>
    <br>

    <label> Password :</label><br>
    <input type="password" name="password"  placeholder="password" required>
    <br>
     
    <input type="submit" value="sign in">

</form>
</section>